extends ../layout/index
block content
    #speakerDetail.container
        .row
            .col-sm-8
                article.speakerslist
                    .container
                        .row
                            .col-sm-8
                                h3.speakerslist-title=details.name
                                h5.speakerslist-name
                                    | with&nbsp;
                                    a(href=`/speakers/${details.shortname}`)=details.name
                                p.speakerslist-info
                                    a(href=`/speakers/${details.shortname}`)
                                    img.speakerslist-img.img-responsive.pull-left(src=`/images/speakers/${details.shortname}.jpg`, alt=`Photo of ${details.name} Post`)
                                p 
                                | !{details.description}
                            // row
                            // container
                            // primary
                            aside.col-sm-4
                                article.sidebar
                                    include ../includes/artwork
                                   
